{% extends "base.html" %}
{% block content %}
<style>

.pagination-page-info {
    padding: .6em;
    padding-left: 0;
    width: 40em;
    margin: .5em;
    margin-left: 0;
    font-size: 12px;
}
.pagination-page-info b {
    color: black;
    padding-left: 2px;
    padding: .1em .25em;
    font-size: 150%;
}
</style>
<div class="main" >
    <div class="container bs-docs-container">
        <div class="row">
            <div class="col-md-10">
                <div class="bs-docs-section">
                    <h1 id="notice" class="page-header" style="margin-bottom:50px;">
                        <i class="fa fa-book"></i>
                        &nbsp;
                        자료집
                    </h1>
                    {{ ret.pagination.info }}
                    <table class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th style="width:20%;">
                                    No
                                </th>
                                <th style="width:50%;">
                                    파일 제목
                                </th>
                                <th style="width:12%;">
                                    업로더
                                </th>
                                <th style="width:16%;">
                                    업로드 날짜
                                </th>
                                <th style="width:2%;">
                                    copy
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for datafile in ret.datafiles %}
                            <tr>
                                <th scope="row" style="width:20%;">
                                    {{ datafile.datafile.id }}
                                </td>
                                <td style="width:50%;">
                                    <a id="datafile-{{datafile.datafile.id}}" href="{{url_for('static',filename=datafile.file_path)}}">http://icle.sogang.ac.kr{{url_for('static',filename=datafile.file_path)}}</a>
                                </td>
                                <td style="width:12%;">
                                    {{ datafile.user.username }}
                                </td>
                                <td style="width:16%;">
                                    {{ datafile.datafile.created_at.strftime('%Y-%m-%d') }}
                                </td>
                                <td style="width:2%;">
                                    <button class="btn btn-primary" data-clipboard-target="#datafile-{{datafile.datafile.id}}">
                                        copy
                                    </button>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <center>
                        {{ ret.pagination.links }}
                    </center>
                </div>
            </div>
            <div class="col-md-2 hidden-sm hidden-xs">
                <div class="bs-docs-sidebar hidden-print affix-top" role="complementary" data-spy="affix" data-offset-top="164"> 
                    <ul class="nav bs-docs-sidenav">
                        <li >
                        <a href="/databook">
                            <i class="fa fa-book"></i>
                            &nbsp;
                            발간물
                        </a>
                        </li>
                        <li class="active">
                        <a href="/datafiles">
                            <i class="fa fa-exclamation"></i>
                            &nbsp;
                            자료집
                        </a>
                        </li>
                        {% if 'logged_in' in session and (session['level'] == 99) %}
                        <li>
                        <a href="/write_datafiles">
                            <i class="fa fa-pencil"></i>
                            &nbsp;
                            자료 업로드하기
                        </a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>

        </div>
    </div>
    {% include "footer.html" %}
</div>
<script>
$(document).ready(function() {
    $('body').attr('data-spy','scroll').attr('data-target','.bs-docs-sidebar');
    $('.pagination ul').addClass('pagination');
    new Clipboard('.btn');
});
</script>
{% endblock %}
