{% extends "base.html" %}
{% block content %}
<style>

.pagination-page-info {
    padding: .6em;
    padding-left: 0;
    width: 40em;
    margin: .5em;
    margin-left: 0;
    font-size: 12px;
}
.pagination-page-info b {
    color: black;
    padding-left: 2px;
    padding: .1em .25em;
    font-size: 150%;
}
</style>
<div class="main" >
    <div class="container bs-docs-container">
        <div class="row">
            <div class="col-md-10">
                <div class="bs-docs-section">
                    <h1 id="notice" class="page-header" style="margin-bottom:50px;">
                        <i class="fa fa-book"></i>
                        &nbsp;
                        Publication <small>(Login to download full texts)</small>
                    </h1>
                    <section class="service_teasers">
                        {% for publication in ret.publications %}
                        <div class="service_teaser" style="border-bottom:1px solid #cccccc;padding-bottom:40px;">
                            <div class="service_photo col-sm-4 col-md-4">
                                <figure style="background-image:url({{url_for('static',filename=publication.image_path)}});height:400px;">
                                </figure>
                            </div>
                            <div class="service_details col-sm-8 col-md-8">
                                <h2 class="section_header skincolored" style="padding-top:0px;">
                                    {{publication.publication.title}}
                                    <small>{{publication.publication.created_at}}</small>
                                    {% if 'logged_in' in session and session['level'] == 99 %}
                                    <br>
                                    <a href="/edit_databook/{{publication.publication.id}}">
                                        <button class="btn btn-warning">수정하기</button>
                                    </a>
                                    <button class="btn btn-danger" data-toggle="modal" data-target="#delete-publication-modal-{{publication.publication.id}}">삭제하기</button>
                                    {% include "delete_publication_confirm_modal.html" %}
                                    {% endif %}
                                </h2>
                                <div id="post_body-{{publication.publication.id}}" class="summernote" style="word-wrap:break-word;">
                                    {{ publication.publication.body | safe}}
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        <center>
                            {{ ret.pagination.links }}
                        </center>
                    </section>
                </div>
            </div>
            <div class="col-md-2 hidden-sm hidden-xs">
                <div class="bs-docs-sidebar hidden-print affix-top" role="complementary" data-spy="affix" data-offset-top="164"> 
                    <ul class="nav bs-docs-sidenav">
                        <li class="active">
                        <a href="/databook">
                            <i class="fa fa-book"></i>
                            &nbsp;
                            PUBLICATION
                        </a>
                        </li>
                        {% if 'logged_in' in session  %}
                        <li>
                        <a href="/datafiles">
                            <i class="fa fa-exclamation"></i>
                            &nbsp;
                            data
                        </a>
                        </li>
                        {% endif %}

                        {% if 'logged_in' in session and (session['level'] == 99) %}
                        <li>
                        <a href="/write_databook">
                            <i class="fa fa-pencil"></i>
                            &nbsp;
                            data upload
                        </a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>

        </div>
    </div>
    {% include "footer.html" %}
</div>
<script>
$(document).ready(function() {
    $('body').attr('data-spy','scroll').attr('data-target','.bs-docs-sidebar');
    $('.pagination ul').addClass('pagination');
});
</script>
{% endblock %}
