<!-- Modal -->
<div class="modal fade" id="delete-publication-modal-{{publication.publication.id}}" tabindex="-1" role="dialog" aria-labelledby="delete-publication-modal-label">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="delete-publication-modal-label">발간물 삭제</h4>
            </div>
            <div class="modal-body">
                정말 삭제 하시겠습니까?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">취소 </button>
                <button type="button" class="btn btn-primary" id="delete-publication-button-{{publication.publication.id}}">삭제하기</button>
            </div>
        </div>
    </div>
</div>
<script>
    $('#delete-publication-button-{{publication.publication.id}}').click(function() {
        $.ajax({
            url: '/delete_databook/{{publication.publication.id}}',
            type: 'POST',
            success: function(response) {
            console.log(response);
            window.location.href = "/databook";
            },
            error: function(error){
                console.log(error);
            }
        });
    });
</script>
