{% extends "base.html" %}
{% block content %}
{% include "slider.html" %}
<style>
</style>
<div class="main">
    <section class="call_to_action">
    </section>
    <section class="portfolio_teasers_wrapper">
    <div class="container">
        <h2 class="section_header fancy centered">ICT 법경제연구소에 오신 것을 환영합니다.<small>summary</small></h2>
        <div class="portfolio_strict row" style="border-bottom:1px solid #ccc;">
            <div class="col-sm-4 col-md-4">
                <div class="portfolio_item wow animated flipInX"> 
                    <a href="/activity" data-path-hover="M 180,190 0,158 0,0 180,0 z">
                        <figure style="background-image:url({{url_for('static',filename='images/slider/slider-1.jpg')}});">
                        <svg viewBox="0 0 180 320" preserveAspectRatio="none">
                        <path d="M 180,0 0,0 0,0 180,0 z"/>
                        </svg>
                        <figcaption>
                        <p>
                        ICLE 활동
                        </p>
                        <div class="view_button">
                            View
                        </div>
                        </figcaption>
                        </figure>
                    </a>
                    <div class="portfolio_description" style="border-bottom:0;">
                        <h3><a href="/activity">ICLE 활동</a></h3>
                        {% for event in ret.events %}
                        <div style="text-align:left;">
                            - <a href="/activity">{{ event.title }}</a> | {{event.created_at.strftime('%Y-%m-%d')}}
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-4">
                <div class="portfolio_item wow animated flipInX"> 
                    <a href="/board/1" data-path-hover="M 180,190 0,158 0,0 180,0 z">
                        <figure style="background-image:url({{url_for('static',filename='images/slider/slider-2.jpg')}});">
                            <!--
                        <figure style="background-image:url(images/portfolio/a5.jpg);background:#dddddd;">
                        -->
                        <svg viewBox="0 0 180 320" preserveAspectRatio="none">
                        <path d="M 180,0 0,0 0,0 180,0 z"/>
                        </svg>
                        <figcaption>
                        <p>
                        공지사항
                        </p>
                        <div class="view_button">View</div>
                        </figcaption>
                        </figure>
                    </a>
                    <div class="portfolio_description" style="border-bottom:0;">
                        <h3><a href="/board/1">공지사항</a></h3>
                        {% for notice in ret.notices %}
                        <div style="text-align:left;">
                            - <a href="/board_detail/{{notice.id}}">{{ notice.title }}</a> | {{notice.created_at.strftime('%Y-%m-%d')}}
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-4">
                <div class="portfolio_item wow animated flipInX"> 
                    <a href="/blog" data-path-hover="M 180,190 0,158 0,0 180,0 z">
                        <figure style="background-image:url({{url_for('static',filename='images/slider/slider-3.jpg')}});">
                            <!--
                        <figure style="background-image:url(images/portfolio/p1.jpg);background:#dddddd;">
                        -->
                        <svg viewBox="0 0 180 320" preserveAspectRatio="none">
                        <path d="M 180,0 0,0 0,0 180,0 z"/>
                        </svg>
                        <figcaption>
                        <p>
                        블로그
                        </p>
                        <div class="view_button">View</div>
                        </figcaption>
                        </figure>
                    </a>
                    <div class="portfolio_description" style="border-bottom:0;">
                        <h3><a href="/blog">블로그</a></h3>
                        {% for blog_post in ret.blog_posts %}
                        <div style="text-align:left;">
                            - <a href="/blog_post/{{blog_post.id}}">{{ blog_post.title }}</a> | {{blog_post.created_at.strftime('%Y-%m-%d')}}
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>     
    </section>
    <!--
    <section class="clients_section wow animated fadeInUp">
    <div class="container">
        <h2 class="section_header elegant centered">Our clients<small>all of them are satisfied</small></h2>
        <div class="clients_list"> <a href="#"><img src="images/clients/wordpress.jpg" alt="client"></a> <a href="#"><img src="images/clients/jquery.jpg" alt="client"></a> <a href="#"><img src="images/clients/microlancer.jpg" alt="client"></a> <a href="#"><img src="images/clients/bbpress.jpg" alt="client"></a> <a href="#"><img src="images/clients/wpml.jpg" alt="client"></a> </div>
    </div>     
    </section>
    -->

    {% include "footer.html" %}
</div>
{% endblock %}
