{% extends "base.html" %}
{% block content %}
<style>

.pagination-page-info {
    padding: .6em;
    padding-left: 0;
    width: 40em;
    margin: .5em;
    margin-left: 0;
    font-size: 12px;
}
.pagination-page-info b {
    color: black;
    padding-left: 2px;
    padding: .1em .25em;
    font-size: 150%;
}
</style>
<div class="main" >
    <div class="container bs-docs-container">
        <div class="row">
            <div class="col-md-10">
                <div class="bs-docs-section">
                    <h1 id="notice" class="page-header" style="margin-bottom:50px;">
                        소장 소개
                    </h1>
                    <p style="text-align:justify;line-height:1.7;font-size:15px;">
&nbsp;&nbsp;ICT 법경제연구소의 홈페이지를 찾아주신 여러분을 진심으로 환영합니다.<br>
&nbsp;&nbsp;ICT 법경제연구소는 2015년 선을 보였던 법학연구소 산하 법과시장경제센터를 발전적으로 해체하여 새로 출범한 서강대학교 본부 산하 연구소입니다. 20년 이상 경쟁법 일반과 방송통신법상 경쟁 이슈에 대한 실무와 연구를 해 온 저와 역시 20년 이상 행정규제법 일반과 방송통신규제법에 대한 실무와 연구를 해 오신 이성엽 교수가 ICT 분야에 특화된 경쟁법과 규제법을 통합하여 인접 학문과 연계된 연구를 수행하는 연구소가 필요하다는 데 뜻을 같이 하였습니다.  <br>
&nbsp;&nbsp; 연구소를 출범시키면서 늘 고민이 되었던 것은 이미 유사한 역할을 하는 여러 학회, 대학이나 기관의 연구소, 정책연구기관 등과 어떻게 다른 모습을 보여드릴 것인가 하는 점입니다. 아직 그 고민은 계속되고 있지만, 끊임없이 변화하고 확장되어가는 세상에서 대학에 몸담고 있는 학자들이 실질적으로 기여할 수 있도록 매개하는 플랫폼을 하나 더하는 것은 그 자체로 의미 있는 일이라고 자부합니다.  <br>
&nbsp;&nbsp; 저희 연구소는 ICT 환경에서 대두되는 쟁점 분석을 통하여 정책적 시사점을 도출하고 이에 대응하는 제도개선, 규범정립, 정책결정이 이루어지는 과정에 참여하고 지원하는 지식플랫폼을 지향합니다. 콘텐츠(C)-플랫폼(P)-네트워크(N)-접속기기(D) 간 융합 현상이 가속화되고 있는 ICT 생태계에서, 전문가 집단에게도 연결과 소통, 통섭과 융합이 중요해지고 있습니다. <br>
&nbsp;&nbsp; 첫째, 저희 연구소는 학교를 물리적 기반으로 하는 연구소의 특성에 맞게 ICT 환경에서 필요로 하는 구조화된 정보와 전문 지식을 생산하고 제공하는 법학과 경제학, 경영학, 신문방송학 등 관련 분야의 전문가들을 연결하고 소통하게 하는 협력의 장을 마련할 것입니다. 이는 지식 콘텐츠의 제공으로서의 의미를 갖습니다.<br> 
&nbsp;&nbsp; 둘째, 저희 연구소는 전문가 집단이 정책 결정자인 정부 그리고 정책 수요자인 시장 주체와 만나는 접점을 마련하여 ICT 환경 변화가 필요로 하는 제도, 규범, 정책의 기반이 되는 정보, 아이디어와 지식이 유통되는 통로가 될 것입니다. 이는 지식 플랫폼의 역할을 의미합니다. <br>
&nbsp;&nbsp;저희 연구소는 ICT 분야에서의 법학자와 경제학자가 상시적으로 만나고 의견을 교류하면서 정부와 산업계에 보다 실제적인 지식과 지혜를 전달하는 통로가 되고 또한 현장의 피드백을 받아 연구의 자극을 받는 선순환 고리가 되는 것을 목표로 합니다. 요즘 ICT 산업계에서는 온라인 플랫폼을 중심으로 한 비즈니스가 중심이 되어가고 있는데, 학계에서도 분야 별로 유사한 기능을 하는 연구 플랫폼을 중심으로 한 연구의 붐이 일어날 필요가 있다고 생각합니다. ICT 법경제 분야에서만큼은 그런 역할을 할 수 있게 되기를 소망합니다.<br>
<br>
<br>
                    </p>
<h4 style="text-align:right;">
서강대학교 ICT 법경제연구소<br>
소장 <strong>홍 대 식</strong>
</h4>
<div class="col-md-6 col-sm-6" style="float:right;padding:0;margin:0;">
    <img src="{{url_for('static',filename='/images/introduction_pic.png')}}" style="border:0;width:100%;">
</div>
                </div>
            </div>
            <div class="col-md-2 hidden-sm hidden-xs">
                {% include "introduction_navbar.html" %}
            </div>

        </div>
    </div>
    {% include "footer.html" %}
</div>
<script>
$(document).ready(function() {
    $('body').attr('data-spy','scroll').attr('data-target','.bs-docs-sidebar');
    $('.pagination ul').addClass('pagination');
});
</script>
{% endblock %}
