<div class="bs-docs-sidebar hidden-print affix-top" role="complementary" data-spy="affix" data-offset-top="164">
    <ul class="nav bs-docs-sidenav">
        <li {% if session['intro_nav_id'] == 0 %}class="active"{% endif %}>
        <a href="/introduction">
            Message from ICLE
        </a>
        </li>
        <li  {% if session['intro_nav_id'] == 2 %}class="active"{% endif %}>
        <a href="/introduction_2">
            About ICT Law&Economy Institute
        </a>
        </li>
        <li  {% if session['intro_nav_id'] == 3 %}class="active"{% endif %}>
        <a href="/introduction_3">
            History
        </a>
        </li>
        <li  {% if session['intro_nav_id'] == 4 %}class="active"{% endif %}>
        <a href="/introduction_4">
            Organization
        </a>
        </li>
        <li  {% if session['intro_nav_id'] == 6 %}class="active"{% endif %}>
        <a href="/introduction_6">
            Director
        </a>
        </li>
        <li  {% if session['intro_nav_id'] == 7 %}class="active"{% endif %}>
        <a href="/introduction_7">
            Deputy Director
        </a>
        </li>
        <li  {% if session['intro_nav_id'] == 8 %}class="active"{% endif %}>
        <a href="/introduction_8">
            Committee Members
        </a>
        </li>
        <li  {% if session['intro_nav_id'] == 5 %}class="active"{% endif %}>
        <a href="/introduction_5">
            Research Fellows
        </a>
        </li>
    </ul>
</div>
