{% extends "base.html" %}
{% block content %}
<style>

.pagination-page-info {
    padding: .6em;
    padding-left: 0;
    width: 40em;
    margin: .5em;
    margin-left: 0;
    font-size: 12px;
}
.pagination-page-info b {
    color: black;
    padding-left: 2px;
    padding: .1em .25em;
    font-size: 150%;
}
</style>
<div class="main" >
    <div class="container bs-docs-container">
        <div class="row">
            <div class="col-md-10">
                <div class="bs-docs-section">
                    <h1 id="notice" class="page-header" style="margin-bottom:50px;">
                        연구위원 
                    </h1>
                </div>
                <h3>
                    안동인 
                    <small>
                        교수, 영남대학교 법학전문대학원 
                    </small>
                </h3>
                <h3>
                    안정민 
                    <small>
                        교수, 한림대학교 국제학부 
                    </small>
                </h3>
                <h3>
                    이수일 
                    <small>
                        소장, 한국개발연구원 규제연구센터 
                    </small>
                </h3>
                <h3>
                    이영주
                    <small>
                        교수, 서울과학기술대학교 
                    </small>
                </h3>
                <h3>
                    주진열 
                    <small>
                        교수, 부산대학교 법학전문대학원 
                    </small>
                </h3>
                <h3>
                    최난설헌 
                    <small>
                        교수, 연세대학교 법학전문대학원 
                    </small>
                </h3>
                <h3>
                    황태희 
                    <small>
                        교수, 성신여자대학교 
                    </small>
                </h3>
                <h3>
                    고환경 
                    <small>
                        변호사, 법무법인 광장 
                    </small>
                </h3>
                <h3>
                    박민철 
                    <small>
                        변호사, 김앤장 법률사무소
                    </small>
                </h3>
                <h3>
                    박정은 
                    <small>
                        변호사, 법무법인 태평양 
                    </small>
                </h3>
                <h3>
                    서정 
                    <small>
                        변호사, 김앤장 법률사무소 
                    </small>
                </h3>
                <h3>
                    이민호 
                    <small>
                        변호사, 법무법인 광장 
                    </small>
                </h3>
                <h3>
                    정성무 
                    <small>
                        변호사, 법무법인 율촌 
                    </small>
                </h3>
                <h3>
                    장준영 
                    <small>
                        변호사, 법무법인 세종
                    </small>
                </h3>
            </div>
            <div class="col-md-2 hidden-sm hidden-xs">
                {% include "introduction_navbar.html" %}
            </div>

        </div>
    </div>
    {% include "footer.html" %}
</div>
<script>
$(document).ready(function() {
    $('body').attr('data-spy','scroll').attr('data-target','.bs-docs-sidebar');
    $('.pagination ul').addClass('pagination');
});
</script>
{% endblock %}
