{% extends "base.html" %}
{% block content %}

<div class="main">
    <section class="hgroup">
    <div class="container">
        <h1>Sign in or Sign up</h1>
        <ul class="breadcrumb pull-right">
            <li><a href="/">Home</a> </li>
            <li class="active">Sign in or Sign up</li>
        </ul>
    </div>
    </section>
    <section>
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-6">
                <div class="signin">
                    <p class="sign_title">Sign in</p>
                    <div class="row">
                        <div class="col-lg-2"></div>
                        <div class="form col-lg-8">
                            <form action="{{ url_for('signin') }}" method="post">
                                {{ ret.signinForm.hidden_tag() }}
                                {% for message in ret.signinForm.email.errors %}
                                    <div class="flash">{{ message }}</div>
                                {% endfor %}
                                {{ ret.signinForm.email(class_="form-control",placeholder="Email") }}
                                {% for message in ret.signinForm.password.errors %}
                                    <div class="flash">{{ message }}</div>
                                {% endfor %}
                                {{ ret.signinForm.password(class_="form-control",placeholder="Password") }}

                                <div class="forgot">
                                    <div class="checkbox">
                                        <label class="">
                                            {{ ret.signinForm.auto_login }}
                                            auto signin</label>
                                    </div>
                                    <a href="#">forgot password ?</a> 
                                </div>
                                <button type="submit" class="btn btn-primary btn-lg" style="margin-top:47px;">Sign in</button>
                            </form>
                        </div>
                        <div class="col-lg-2"></div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6">
                <div class="signup">
                    <form action="{{url_for('signup')}}" method="post">
                        {{ ret.signupForm.hidden_tag() }}
                        <fieldset>
                            <p class="sign_title">Sign up</p>
                            <div class="row">
                                <div class="col-lg-2"></div>
                                <div class="col-lg-8">
                                    {% for message in ret.signupForm.username.errors %}
                                        <div class="flash">{{ message }}</div>
                                    {% endfor %}
                                    {{ ret.signupForm.username(class_="form-control",placeholder="Username") }}
                                    {% for message in ret.signupForm.email.errors %}
                                        <div class="flash">{{ message }}</div>
                                    {% endfor %}
                                    {{ ret.signupForm.email(class_="form-control",placeholder="Email") }}
                                    {% for message in ret.signupForm.password.errors %}
                                        <div class="flash">{{ message }}</div>
                                    {% endfor %}
                                    {{ ret.signupForm.password(class_="form-control",placeholder="Password") }}
                                    <div class="checkbox">
                                        <label class="">
                                            {% for message in ret.signupForm.agree_check.errors %}
                                                <div class="flash">{{ message }}</div>
                                            {% endfor %}
                                            {{ ret.signupForm.agree_check }}
                                            <a href="http://sogang.ac.kr/notice/private_rule/privacy05.html" target="_blank">Policy</a> agree.</label>
                                    </div>
                                </div>
                                <div class="col-lg-2"></div>
                            </div>
                            <button type="submit" class="btn btn-success btn-lg">Sign up</button>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
        <div class="container">
            </section>

    {% include "footer.html" %}
</div>
{% endblock %}
